build/
release/
*.suo
*.user
bin
Bin
!/bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
.svn
*.log
log/
temp/
trunk/

*.orig
*.bak
Bin
ClientBin
*.dotCover